# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs
logs/
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore config files that might contain sensitive information
#configs/*.yaml
#configs/*.yml
api.yaml

# Ignore xml files
files/
scripts/


# Ignore sketches
sketches/
*.ipynb

# Ignore temporary files or other irrelevant files
print-dir-struct.py
*.DS_Store # MacOS specific

# Ignore virtual environment directories
venv/
env/
.venv/